version: '3'

services:
  traefik:
    image: traefik
    command:
      - --providers.docker=true
    ports:
      - 3000:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik-dev.yml:/traefik.yml:ro
      - ./dynamic-config:/rules:ro
      - ..:/plugins-local/src/github.com/Koellewe/traefik-oauth-upstream:ro
      - ./oauth:/tmp/oauth_persist
    networks:
      - proxy
    labels:
      - "traefik.enable=true"

  whoami:
    image: truecharts/whoami
    expose:
      - 80
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.middlewares=oauthup@file"
      - "traefik.http.routers.whoami.rule=HostRegexp(`{subdomain:.+}.gitpod.io`)"

networks:
  proxy:
